player-connection-mode=Listen
player-connection-guid=113649386
player-connection-debug=0
player-connection-project-name=MultiplayerFighter
player-connection-ip=192.168.56.1
player-connection-ip=192.168.99.2
player-connection-ip=169.254.74.168
player-connection-ip=169.254.99.42
player-connection-ip=192.168.0.24
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
